<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
    <div class="container">
        <form th:method="post" th:action="@{/main/post}">
            <div>
                <label for="Author">Author</label>
                <input type="text" id="Author" placeholder="Enter author name" th:required="required" th:autofocus="autofocus">
            </div>
            <div>
                <label for="Title">Title</label>
                <input type="text" id="Title" placeholder="Enter post title" th:required="required" th:autofocus="autofocus">
            </div>
            <div>
                <label for="Description">Description</label>
                <input type="text" id="Description" placeholder="Enter post description" th:required="required" th:autofocus="autofocus">
            </div>
            <div>
                <label for="criticalDescription">Critical Description</label>
                <input type="text" id="criticalDescription" placeholder="Enter post critical description" th:required="required" th:autofocus="autofocus">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
