<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h1>Categories:</h1>
    <div>
        <a th:href="@{/main/book}">Books</a>
    </div>
    <div>
        <a th:href="@{/main/fashion}">Fashion</a>
    </div>
    <div>
        <a th:href="@{/main/image}">Images</a>
    </div>
    <div>
        <a th:href="@{/main/movie}">Movies</a>
    </div>
    <div>
        <a th:href="@{/main/music}">Music</a>
    </div>
    <div>
        <a th:href="@{/main/other}">Other</a>
    </div>
    <div>
        <a th:href="@{/main/poetry}">Poetry</a>

    </div>
    <div>
        <a th:href="@{/main/sculpture}">Sculpture</a>
    </div>
</body>
</html>
