<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body >
    <div th:replace="/fragments/header.html"></div>
    <div th:include="/fragments/navbar.html"></div>
    <h1>Books</h1>
    <div class="container">
        <form th:method="post" th:action="@{/main/book}" th:object="${book}">
            <h3>Add new book</h3>
            <div>
                <label for="Author">Author</label>
                <input type="text" id="Author" placeholder="Enter author name" th:required="required" th:autofocus="autofocus" th:field="*{author}">
            </div>
            <div>
                <label for="Title">Title</label>
                <input type="text" id="Title" placeholder="Enter post title" th:required="required" th:autofocus="autofocus" th:field="*{title}">
            </div>
            <div>
                <label for="Description">Description</label>
                <input type="text" id="Description" placeholder="Enter post description" th:required="required" th:autofocus="autofocus" th:field="*{description}">
            </div>
            <div>
                <label for="criticalDescription">Critical Description</label>
                <input type="text" id="criticalDescription" placeholder="Enter post critical description" th:required="required" th:autofocus="autofocus" th:field="*{criticalDescription}">
            </div>
            <button type="submit" class="btn btn-primary">Add post</button>
        </form>
    </div>
    <div th:include="/fragments/edit-post.html"></div>
    posts
    <div th:each="book : ${books}">
        <p th:text="${book.author}"></p>
        <p th:text="${book.title}"></p>
        <p th:text="${book.description}"></p>
        <p th:text="${book.criticalDescription}"></p>
    </div>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>

    <div th:include="/fragments/footer.html"></div>
</body>
</html>
