<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fashion</title>
</head>
<body>
    <div th:replace="/fragments/header.html"></div>
    <div th:include="/fragments/navbar.html"></div>
    <h1>Fashion</h1>
    <div class="container">
            <form th:method="post" th:action="@{/main/fashion}" th:object="${fashion}">
                <h3>Add new post</h3>
                <div>
                    <label for="Author">Author</label>
                    <input type="text" id="Author" placeholder="Enter author name" th:required="required" th:autofocus="autofocus" th:field="*{author}">
                </div>
                <div>
                    <label for="Title">Title</label>
                    <input type="text" id="Title" placeholder="Enter post title" th:required="required" th:autofocus="autofocus" th:field="*{title}">
                </div>
                <div>
                    <label for="Description">Description</label>
                    <input type="text" id="Description" placeholder="Enter post description" th:required="required" th:autofocus="autofocus" th:field="*{description}">
                </div>
                <div>
                    <label for="criticalDescription">Critical Description</label>
                    <input type="text" id="criticalDescription" placeholder="Enter post critical description" th:required="required" th:autofocus="autofocus" th:field="*{criticalDescription}">
                </div>
                <button type="submit" class="btn btn-primary">Add post</button>
            </form>
    </div>
    <div th:include="/fragments/edit-post.html"></div>
    posts
    <div th:each="fashion : ${fashions}">
        <p th:text="${fashion.author}"></p>
        <p th:text="${fashion.title}"></p>
        <p th:text="${fashion.description}"></p>
        <p th:text="${fashion.criticalDescription}"></p>
    </div>
    <div th:include="/fragments/footer.html"></div>
</body>
</html>
