<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fashion</title>
</head>
<body>
    <div th:replace="/fragments/header.html"></div>
    <div th:include="/fragments/navbar.html"></div>
    <h1>Fashion</h1>
    <div th:include="/fragments/add-post.html"></div>
    <div th:include="/fragments/edit-post.html"></div>
    posts
    <div th:each="fashion : ${fashions}">
        <p th:text="${fashion.author}"></p>
        <p th:text="${fashion.title}"></p>
        <p th:text="${fashion.description}"></p>
        <p th:text="${fashion.criticalDescription}"></p>
    </div>
    <div th:include="/fragments/footer.html"></div>
</body>
</html>
