<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Other</title>
</head>
<body>
    <div th:replace="/fragments/header.html"></div>
    <div th:include="/fragments/navbar.html"></div>
    <h1>Other</h1>
    <div th:include="/fragments/add-post.html"></div>
    <div th:include="/fragments/edit-post.html"></div>
    posts
    <div th:each="other : ${others}">
        <p th:text="${other.author}"></p>
        <p th:text="${other.title}"></p>
        <p th:text="${other.description}"></p>
        <p th:text="${other.criticalDescription}"></p>
    </div>
    <div th:include="/fragments/footer.html"></div>
</body>
</html>
