<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sculpture</title>
</head>
<body>
    <div th:replace="/fragments/header.html"></div>
    <div th:include="/fragments/navbar.html"></div>
    <h1>Sculpture</h1>
    <div th:include="/fragments/add-post.html"></div>
    <div th:include="/fragments/edit-post.html"></div>
    posts
    <div th:each="sculpture : ${sculptures}">
        <p th:text="${sculpture.author}"></p>
        <p th:text="${sculpture.title}"></p>
        <p th:text="${sculpture.description}"></p>
        <p th:text="${sculpture.criticalDescription}"></p>
    </div>
    <div th:include="/fragments/footer.html"></div>
</body>
</html>
